<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        h3 {
            width: 100%;
            margin: 10px;
            font-style: bold;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 40px;
        }
    </style>
</head>

<body style="box-sizing: border-box;
    background-color: #fff5c0;
    margin: 0;
    padding: 0;">
    <div style=" 
        background-color: #ffb396;
        padding: 1.2rem ;
        margin: 0;
        text-align: center;">
        <h1 style="text-align: center; margin-top: 107px;">
            About Us</h1>
    </div>
    <div class="content">
        <h3>The Snake Anti-venom Centre Location System will work fundamentally with the Government and private hospitals and primary health care centres to provide the information on the available antivenoms in different locations. The aim of the project
            is to provide an application that is simple to use and handy at an emergency situation like snakebites to get quick information about the Anti venom facility to visit for treatment thus saving lives.</h3>
    </div>

</body>

</html>